.wrapper {
  padding: 64px 32px;
  max-width: 1024px;
  margin: auto;
  font-family: "Avenir Next";
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.heading {
  font-family: "Titan One";
  text-align: center;
  color: #6b36c9;
}

.creatorWrapper {
  display: flex;
  gap: 64px;
}

.creatorInputs {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1;
}
